<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>All the dranks</title>
</head>
<body>
  <h1>ALL THA DRANKS</h1>
  <ul>
    <% cocktails.each do |cocktail| %>
      <li><%= cocktail.name %></li>
    <% end %>
  </ul>
</body>
</html>
