<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>All of the Ingredients!</title>
</head>
<body>
  <h1>INGREDIENTS ERMERGERD</h1>
  <ul>
    <% ingredients.each do |ingredient| %>
      <li><%= ingredient.name %></li>
    <% end %>
  </ul>
</body>
</html>
